<div class="flex flex-col m-5 p-4 sm:p-8 bg-white dark:bg-gray-500 shadow sm:rounded-lg">
    <h1 id="help-title" class="font-semibold text-xl text-gray-800 dark:text-white leading-tight pb-4">How to use?</h1>
    <div class="helpContent flex flex-col gap-5 pt-5">
        <p>Select in the tabs above the scenario : <a class="text-blue-500 hover:underline"
            href="./shortcut">PayPal Shortcut</a> or <a class="text-blue-500 hover:underline"
            href="./vault">PayPal Vault</a> </p>

        <p>Here is the PayPal documentations : </p>
        <ul>
            <li>
                <p>PayPal shortcut : <a class="text-blue-500 hover:underline"
                        href="https://developer.paypal.com/docs/checkout/standard/integrate/">https://developer.paypal.com/docs/checkout/standard/integrate/</a></p>
            </li>
            <li>
                <p>PayPal Vault : <a class="text-blue-500 hover:underline"
                        href="https://developer.paypal.com/docs/checkout/save-payment-methods/during-purchase/js-sdk/paypal/">https://developer.paypal.com/docs/checkout/save-payment-methods/during-purchase/js-sdk/paypal/</a></p>
            </li>
        </ul>
    </div>
</div>