<div class="helpOption flex flex-col sm:flex-row gap-4">
    <div class="helpDiv w-full sm:w-1/2">
        <div class="flex flex-col m-5 p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <h1 id="help-title" class="">How to use?</h1>
            <div class="helpContent pt-5">
                <ol class="list-decimal px-5 flex flex-col gap-1">
                    <li>On the left side, define your payment settings using the JSON editor.</li>
                    <li>Toggle the "Shipping And Pick Up Options" checkbox to include shipping details in the
                        payment request.
                    </li>
                    <li>Toggle the "BOPIS - S2S" checkbox to enable "Store-to-Store" (BOPIS) payment.</li>
                    <li>Check the "Update invoice ID with current timestamp" checkbox if you want to
                        automatically
                        update the
                        invoice ID with the current timestamp.</li>
                    <li>Click the "LOAD PAYPAL BUTTON" button to generate and display PayPal buttons based on
                        the
                        defined
                        settings.</li>
                    <li>Click on the PayPal button to initiate the payment process.</li>
                    <li>After payment, view the logs and response data for transaction details and status.</li>
                    <li>For negative testing, select an error from the dropdown to trigger a specific error
                        scenario. Refer to
                        the provided links for negative testing documentation and available errors.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="itemOptions flex flex-col m-5 p-4 sm:p-8 bg-white shadow sm:rounded-lg w-full sm:w-1/2">
        <h1 class="font-semibold text-xl text-gray-800 leading-tight pb-4">Options</h1>
        <div class="py-3 px-6 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900" id="headingThree">
            <div class="mb-0">
                <h2 class="text-lg font-bold"> - Enable BNPL</h2>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="enableBNPL" checked>
                    <label class="form-check-label" for="enableBNPL">Enable BNPL button</label>
                </div>
                <h2 class="text-lg font-bold"> - Pre set JSON request</h2>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="shippingChoice"
                        onchange="toggleShippingAddress()">
                    <label class="form-check-label" for="shippingChoice">Shipping And Pick Up Options</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="S2S" onchange="toggleS2S()">
                    <label class="form-check-label" for="S2S">BOPIS - S2S</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="updateInvoiceID" checked>
                    <label class="form-check-label" for="updateInvoiceID">Update invoice ID with current
                        timestamp
                        ?</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="sendSTC">
                    <label class="form-check-label" for="sendSTC">Set Transaction Context</label>
                    <div class="flex flex-col gap-4 hidden mt-4" id="divForSTC">
                        <p>
                            <a class="text-blue-500 hover:underline" target="_blank"
                                href="https://developer.paypal.com/limited-release/raas/integration-guide/">Transaction
                                Risk Integration
                                Guide</a> &
                            <a class="text-blue-500 hover:underline" target="_blank"
                                href="https://developer.paypal.com/docs/limited-release/raas/v1/api/">STC API
                                documentation</a>
                        </p>
                        <div id="jsoneditorSTC"></div>
                    </div>
                </div>
                <h2 class="text-lg font-bold"> - Negative testing </h2>
                <div class="mb-3 form-check flex flex-col gap-2">
                    <label class="form-check-label" for="negativetesting">Select the error to trigger</label>
                    <div class="mb-3 form-check">
                        <label class="form-check-label" for="negativetesting">Select the error to
                            trigger</label>
                        <select id="negativetesting" name="negativetesting">
                            <option value="none">None</option>
                            <option value="INTERNAL_SERVER_ERROR">INTERNAL_SERVER_ERROR</option>
                            <option value="PERMISSION_DENIED">PERMISSION_DENIED</option>
                            <option value="MALFORMED_REQUEST">MALFORMED_REQUEST</option>
                            <option value="MISSING_REQUIRED_PARAMETER">MISSING_REQUIRED_PARAMETER</option>
                        </select>
                        <br>
                        <a class="text-blue-500 hover:underline"
                            href="https://developer.paypal.com/tools/sandbox/negative-testing/request-headers/">Negative
                            testing documentation</a>
                        <br>
                        <a class="text-blue-500 hover:underline"
                            href="https://developer.paypal.com/api/rest/reference/orders/v2/errors/">Error
                            available</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex gap-5 flex-wrap justify-center p-2">
    <div class="flex flex-col">
        <div id="jsoneditor"></div>
    </div>
    <div class="flex flex-col gap-5 lg:w-1/2 w-full">
        <button
            class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest bg-red-600 hover:bg-yellow-400 active:bg-indigo-900 focus:outline-none focus:border-indigo-900 focus:ring focus:ring-indigo-300"
            id="getJSON">LOAD PAYPAL BUTTON</button>
        <div class="stcResultDiv bg-white shadow sm:rounded-lg overflow-x-auto p-4 flex flex-col gap-2 hidden">
            <h3>STC response</h3>
            <pre class="stcResultHeader"></pre>
            <pre class="stcResultBody hidden flex whitespace-pre-wrap overflow-x-auto"></pre>
            <pre class="stcUuid hidden"></pre>
        </div>
        <div id="paypal-button-container"></div>
        <div id="paypalBNPL-button-container"></div>
        <pre id="response" class="hidden w-full bg-white rounded-lg p-5 overflow-auto border-2"></pre>
    </div>
</div>

<script>
    const currency = '<%= envCurrency %>'
</script>

<script
    src="https://www.paypal.com/sdk/js?client-id=<%= clientId %>&currency=<%= envCurrency %>&enable-funding=paylater&disable-funding=card,bancontact,sepa,giropay,sofort&components=buttons&buyer-country=FR">
</script>

<script src="shortcut.js"></script>