<div class="helpOption flex flex-col sm:flex-row gap-4">
    <div class="helpDiv w-full sm:w-1/2">
        <div class="flex flex-col m-5 p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <h1 id="help-title" class="font-semibold text-xl text-gray-800 leading-tight pb-4">How to use?</h1>
            <div class="helpContent pt-5">
                <ol class="list-decimal px-5 flex flex-col gap-1">
                    <li>Select the scenario : First time payment or returning payment.</li>
                    <li>On the left side, define your payment settings using the JSON editor.</li>
                    </li>
                    <li>Click the "LOAD PAYPAL BUTTON" button to generate and display PayPal buttons based on the defined settings.</li>
                    <li>Click on the PayPal button to initiate the payment process.</li>
                    <li>After payment, view the logs and response data for transaction details and status.</li>
                    <li>After a successful First Time payment, you can select Returning Flow to simulate a returning payment with the Vault.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="itemOptions flex flex-col m-5 p-4 sm:p-8 bg-white shadow sm:rounded-lg w-full sm:w-1/2">
        <div class="flex flex-col gap-2 m-2">
            <h1 class="font-semibold text-xl text-gray-800 leading-tight pb-4">Options</h1>
            <h2 class="font-semibold text-lg text-gray-800 leading-tight pb-4">Select the scenario:</h3>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-4 justify-around">
                    <div class="flex items-center">
                        <input checked id="firstTimeOption" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
                            onchange="toggleFirstTime()">
                        <label for="firstTimeOption" class="ml-2 text-sm font-medium text-gray-900">First
                            time</label>
                    </div>
                    <div class="flex items-center">
                        <input id="returningOption" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
                            onchange="toggleReturning()">
                        <label for="returningOption" class="ml-2 text-sm font-medium text-gray-900">Returning
                            flow</label>
                    </div>
                </div>
                <div class="flex customerInput">
                    <span class="text-sm border border-2 rounded-l px-4 py-2 bg-gray-300 whitespace-no-wrap">Customer
                        ID</span>
                    <input name="field_name" class="customerID border border-2 rounded-r px-4 py-2 w-full" type="text"
                        placeholder="example : SvOEIgmXxc" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex gap-5 flex-wrap justify-center p-2">
    <div class="flex flex-col">
        <div id="jsoneditor"></div>
    </div>
    <div class="flex flex-col gap-5 lg:w-1/2 w-full">
        <button
            class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest bg-red-600 hover:bg-yellow-400 active:bg-indigo-900 focus:outline-none focus:border-indigo-900 focus:ring focus:ring-indigo-300"
            id="getJSON">LOAD PAYPAL BUTTON</button>
        <div id="paypal-button-container"></div>
        <div id="headers" class="flex flex-col flex-1 gap-5 overflow-x-auto hidden">
            <div class="w-full bg-white rounded-lg p-5 overflow-auto border-2">
                <h2>Request header :</h2>
                <pre id="requestHeader">REQUEST HEADER ETC.</pre>
            </div>
            <div class="w-full bg-white rounded-lg p-5 overflow-auto border-2">
                <h2>Request header response :</h2>
                <pre id="requestHeaderResponse">REQUEST HEADER ETC.</pre>
            </div>
        </div>
        <div class="flex flex-col responses hidden overflow-hidden gap-5 w-full">
            <div class="overflow-auto w-full bg-white rounded-lg p-5 overflow-auto border-2">
                <h2>Order Response :</h2>
                <pre id="orderDataResponse"></pre>
            </div>
            <div class="overflow-auto w-full bg-white rounded-lg p-5 overflow-auto border-2">
                <h2>Capture response :</h2>
                <pre id="responseCapture"></pre>
            </div>
        </div>
    </div>
</div>

<script>
    const clientID = '<%= clientId %>'
    const currency = '<%= envCurrency %>'
</script>

<script src="vault.js"></script>